<h2>Listado de Productos</h2>
<a [routerLink]="['/editar/edit']">CREAR FORMULARIO</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Genero</th>
      <th>Image</th>
      <th>Fecha</th>
      <th>Creador</th>
      <th>Video</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos; let i = index">
      <td>{{ producto.id }}</td>
      <td>{{ producto.title }}</td>
      <td>{{ producto.description }}</td>
      <td>{{ producto.genero }}</td>
      <td>{{ producto.image }}</td>
      <td>{{ producto.date }}</td>
      <td>{{ producto.creator }}</td>
      <td>{{ producto.video }}</td>
    </tr>
  </tbody>
</table>
