<p>Hola Frontends</p>
<!-- //Iteracion de los datos -->
<!-- <table class="table">  
  <thead>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
    </thead>
    <tbody>
      <tr *ngFor = "let modelo of modelo">
        <td>{{ modelo.id }}</td>
        <td>{{ modelo.nombre }}</td>
        <td>{{ modelo.apellido }}</td>
        <td>{{ modelo.edad }}</td>
      </tr>
    </tbody>
  </table> -->
  <!-- <th scope="col">Acciones</th> -->
  <!-- <td><button class="btn btn-danger" (click)="eliminarPersona(i)">Eliminar</button></td> -->