<p>envio works!</p>

<div class="container">
    <button type="submit" class="btn btn-success btn-block" (click)="guardar()">GUARDAR</button>

    <form action="">
        <label>ID</label>
        <!-- Directiva es ng module para enviar los datos propio de angular -->
        <input type="text" class="form-control" [(ngModel)]="productos.id" name="id" placeholder="ID" autofocus>
        <label>Titulo</label>
        <textarea type="text" class="form-control" [(ngModel)]="productos.title" name="title" placeholder="Titulo"></textarea>
        <label>Fecha</label>
        <input type="date" class="form-control" [(ngModel)]="productos.date" name="date" placeholder="Fecha" autofocus>
    </form>
</div>